* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary Colors */
  --dark_cyan_color: hsl(158, 36%, 37%);
  --darker_cyan_color: hsl(157, 37%, 22%);
  --cream_color: hsl(30, 38%, 92%);
  /* Neutral Colors */
  --darker_blue_color: hsl(212, 21%, 14%);
  --dark_blue_color: hsl(228, 12%, 48%);
  --white_color: hsl(0, 0%, 100%);
}

body {
  background: var(--cream_color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3rem;
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white_color);
  height: 50vh;
  width: 44vw;
  border-radius: 10px;
}
.container section {
  width: 50%;
}
#img_desktop {
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: 100%;
}

#tag {
  letter-spacing: 7px;
}

#info_section {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1.7rem;
}
#info_section p {
  margin-top: 0.5rem;
  padding: 0.8rem 0 0.8rem 0;
  color: var(--dark_blue_color);
  font-size: 14px;
}
#info_section h1 {
  font-family: "Fraunces", serif;
  font-size: 35px;
  font-weight: 700;
  padding-left: 0.3rem;
}
#price {
  display: flex;
  align-items: center;
}
#price #discounted {
  font-family: "Fraunces", serif;
  color: var(--dark_cyan_color);
  font-weight: 700;
  font-size: 32px;
}
#price #original {
  text-decoration: line-through;
  margin-left: 1.2rem;
}

#button {
  width: 100%;
  border-radius: 10px;
  background-color: var(--dark_cyan_color);
  color: var(--white_color);
  padding: 0.8rem;
  border: none;
  margin: 0.8rem 0 0.8rem 0;
  transition-duration: 500ms;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#button:hover {
  background-color: var(--darker_cyan_color);
}

#button i {
  padding-right: 0.35rem;
}

/* Mobile Responsive - Most current phone in verticle orientation */
@media screen and (max-width: 450px) {
  #img_desktop {
    display: none;
  }
  #img_mobile {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .container {
    flex-direction: column;
    height: 60vh;
    width: 90vw;
  }
  .container section {
    width: 100%;
  }
  #info_section {
    padding: 1.5rem;
  }
  #info_section p {
    font-size: 12px;
    padding: 0.4rem 0 0.4rem 0;
    margin-top: 0;
  }
  #info_section #title {
    font-size: 30px;
    padding: 0.7rem 0 0.7rem 0;
  }
  #info_section #detail {
    font-size: 14px;
    line-height: 1.3rem;
    padding-top: 0;
  }
  #info_section #button {
    height: 60px;
    margin-bottom: 0;
  }
  #button {
    font-size: 15px;
  }
}
@media screen and (min-width: 451px) {
  #img_mobile {
    display: none;
  }
}
